<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.edse.edu"
      android:versionCode="1"
      android:versionName="1.0">

<uses-sdk android:minSdkVersion="9"/>
    <application android:icon="@drawable/lock_logo" 
          android:label="@string/app_name">
        <activity android:name="com.edse.edu.SetPasswordActivity"
        		 android:screenOrientation="portrait">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		 <activity android:name="com.edse.edu.ResetPasswordActivity"
        		 android:screenOrientation="portrait"
                  android:label="@string/pattern_screen"
                  >
        </activity>
        
         <activity android:name="com.edse.edu.UnlockActivity"
        		 android:screenOrientation="portrait"
                  android:label="@string/pattern_screen"
                  >
                  
                  
        </activity>
        
        <activity android:name="com.edse.edu.AboutActivity"
        		 android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  >
        </activity>
        
        <activity android:name="com.edse.edu.PrefsActivity"
        		 android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  >
        </activity>
        
    </application>
</manifest>